* {
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: 'ClearSans-Bold';
}

body {
    background-image: url(https://images6.alphacoders.com/110/1107257.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
display:flex;
justify-content:center;
align-items:center;
margin-top:10rem;
}

.card-roxo-login {
background-color:#5e17eb;
width:30rem;
height:40rem;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
border-radius: 20px 0px 0px 20px;

}

.card-roxo-login h1 {
color: white;
font-size: 45px ;
text-align: center;

}

.inputes
input[type=password],
input[type=text]{
 width: 17rem;
padding:12px 50px;
border-radius: 20px;
outline: none;
border: none;
margin-bottom: 35px
}

.inputes {
padding: 2rem;
}

.inputes i {
position: relative;
left: 40px;
}



.input-button {
display: flex;
justify-content: center;
}


.inputes input[type=button] {
width: 12rem;
height: 2.7rem;
text-align: center;
border-radius: 20px;
outline: none;
border: none;
cursor: pointer;
font-size: 15px;

}
.alternativa-login {
text-align: center;
margin-top: 20px;
font-size: 20px;
font-weight: bold;
color: white;
}

.icons{
display: flex;
margin-left: 50px;
margin-top: 20px;
gap: 20px
;
}

.icons a {
color: aliceblue;
font-size: 30px;
}


.card-branco {
height: 40rem;
width: 50rem;
display: flex;
flex-direction: column;
align-items: center;
background-color: white;
border-radius: 0px 20px 20px 0px;
}

.card-branco h1 {
padding: 0px 0rem;
text-align: center;
color: #5E17EB;
font-weight: bold;
margin-top: 6rem;
margin-bottom: 1rem;
}


.img-pessoas img {
height: 17rem;
}

.button-register {
margin-top: 2rem;
}

.button-register a {
color: white;
background-color: #5518D9;
border: 1px solid;
padding: .6rem 3rem;
margin-top: 20rem;
text-decoration: none;
border-radius: 20px;
}

.button-register span {
font-size: 15px;
font-weight: bold;
}